In [1]:
import os
os.chdir('/Users/kai23/Library/Mobile Documents/com~apple~CloudDocs/MSc Data Science/Skills for DS/Skills Assessment 2')
print("Working Directory Changed To:", os.getcwd())

Working Directory Changed To: /Users/kai23/Library/Mobile Documents/com~apple~CloudDocs/MSc Data Science/Skills for DS/Skills Assessment 2

In [3]:
import pandas as pd
# Load the CSV file
paper_counts = pd.read_csv('./data/paper_counts.csv')

paper_counts.info()
paper_counts.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    143 non-null    int64
 1   Count   143 non-null    int64
dtypes: int64(2)
memory usage: 2.4 KB

   Year  Count
0  1799      1
1  1801      1
2  1802      1
3  1805      1
4  1866      1

In [4]:
# Checking for missing values
print(paper_counts.isnull().sum())

Year     0
Count    0
dtype: int64

In [6]:
# Checking for duplicate years
print(paper_counts['Year'].duplicated().sum())

0

In [7]:
# Checking count values
print(paper_counts['Count'].describe())

count    1.430000e+02
mean     1.645635e+05
std      3.060926e+05
min      1.000000e+00
25%      1.310000e+02
50%      3.590000e+02
75%      1.979870e+05
max      1.324650e+06
Name: Count, dtype: float64

In [ ]:
# No cleaning required so nothing to save to outputs